@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap');


.swiper-container {
    position: relative;
    padding-left: 10%;
    height: 25vw;
    width: auto;
}

.swiper {
    height: 25vw;
    width: auto;
    
}

.swiper-wrapper {
    display: flex;
}


/*Swiper-slide*/

.swiper-slide-next+.swiper-slide {
    flex-basis: 20%;
    max-height: auto;
}

.swiper-slide-next+.swiper-slide-next img {
    max-height: 65%;
    max-width: 100%;
}

.swiper-slide img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*Swiper-slide-active*/
.swiper-slide-active {
    display: flex;
    padding-top: 3%;
    flex-basis: 60%;
}

.swiper-slide-active img {
    max-width: 65%;
    border-radius: 20px 20px 70px 20px;
    transition: max-width .5s, border-radius .7s;
}


/*Swiper-slide-next*/

.swiper-slide-next {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    padding-top: 7%;
    height: 100%;
    transition: transform 2s ease, flex-basis 0.3s, padding-top 0.5s;
}

.swiper-slide-next img {
    max-width: 90%;
    height: 15vw;
    transition: max-width 0.5s;
}

/*Swiper-slide-acive-content*/

.swiper-slide-prev {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.swiper-slide-active .next-site {
    display: none;
}

.swiper-slide-active h3 {
    font-size: 20px;
    margin: 0;
}

.swiper-slide-active h2 {
    color: rgb(42, 125, 158);
    font-size: 30px;
    margin: 0;
}

.swiper-slide-active .number {
    font-size: 3.2vw;
    font-weight: bold;
    margin: 0;
}

.swiper-slide-active .slide-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.placeContainer {
    position: absolute;
    bottom: 6vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.placeContainer h3 {
    font-size: 1vw;
}

.placeContainer h2 {
    font-size: 1.5vw;
}

.swiper-slide-active .descriptionContainer {
    display: flex;
    flex-basis: 50%;
    max-width: 55%;
    flex-direction: column;
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    text-align: end;
    color: white;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0px;
    transition: bottom 0.5s, right 0.5s;
}
/*title*/

.title {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: rgb(77, 76, 76);
    gap: 15px;
    top: 15%;
    max-width: 18%;
}

.title h1 {
    font-size: 2.1vw;
}

.title p {
    font-size: 1vw;
}

/*swiper-slide-next-content*/

.swiper-slide-next h3 {
    display: none;
}

.swiper-slide-next .site {
    display: none;
}

.swiper-slide-next .descriptionContainer .number {
    font-size: 2.3vw;
    font-weight: bold;
}

.swiper-slide-next .descriptionContainer .next-site {
    font-size: 1.3vw;
    font-weight: 400;
}

.swiper-slide-next .descriptionContainer {
    display: flex;
    height: 20%;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 11%;
    left: 11%;
    color: white;
}

.swiper-slide-next .descriptionContainer .description {
    display: none;
}

/*swiper-slide-content*/


.swiper-slide.swiper-slide-next+.swiper-slide h3 {
    display: none;
}

.swiper-slide.swiper-slide-next+.swiper-slide .site {
    display: none;
}

.swiper-slide.swiper-slide-next+.swiper-slide .description {
    display: none;
}

.swiper-slide.swiper-slide-next+.swiper-slide .number {
    font-size: 2.3vw;
    font-weight: bold;
}

.swiper-slide.swiper-slide-next+.swiper-slide .next-site {
    font-size: 1.3vw;
    font-weight: 400;
}

.swiper-slide.swiper-slide-next+.swiper-slide .descriptionContainer {
    color: white;
    display: flex;
    height: 20%;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 48%;
    left: 7%;
}

/*buttons*/


.swiper-button-prev,
.swiper-button-next {
    background-color: rgb(42, 78, 145);
    color: white;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgb(56, 97, 172); 
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-family: 'Material Symbols Outlined';
    font-size: 3vw;
    font-weight: 100;
    color: white;
    content: 'navigate_before';
}

.swiper-button-next::after {
    content: 'navigate_next';
}

.swiper-button-prev {
    left: 52vw; 
    top: 20vw;
}

.swiper-button-next {
    right: 32.5vw; 
    top: 22.5vw;
}


/*pagination*/

.paginationContainer {
    display: flex;
    align-items: center;
    height: auto;
    position: absolute;
    z-index: 100;
    bottom: 1vw;
    right: 19.8vw;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    position: relative;
    text-align: start;
    width: auto;
}

.swiper-pagination-bullet {
    display: none;
}

.swiper-pagination-bullet-active {
    display: inline;
    background: none;
}

.swiper-pagination-bullet-active::before {
    content: attr(data-index) " / " attr(data-total);
    font-size: 16px;
    color: black;
    white-space: nowrap;
}

.line {
    width: 100px;
    height: 1.5px;
    background-color: gray;
    margin-right: 10px;
    margin-left: -30px;
}

/*pagination pause button*/

.pause-button {
    background: #28282E;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: white;
}

.pause-button::before {
    content: attr(data-icon);
}

.pause-button:hover {
    background: #3c3c42;
}


/* RESPONSIVE */

/* Place-Container-content */

@media (max-width: 1850px) {

    .placeContainer h3 {
        font-size: 1.5vw;
    }

.placeContainer h2 {
        font-size: 2vw;
    }

}



/*Title*/

@media (max-width: 1918px) {

    .title h1{
            font-size: 2vw;
        }
}



/*Swiper-slide-acive-content*/

@media (max-width: 1450px) {
    
    .swiper-slide-active .descriptionContainer p{
        margin: 0;
    }

}

@media (max-width: 1140px) {

    .swiper-slide-active .descriptionContainer {
        max-width: 50%;
    }

    .swiper-slide-active .descriptionContainer p {
        margin: 0;
    }

}

@media (max-width: 900px) {

        .swiper-slide-active .descriptionContainer {
            max-width: 50%;
        }
}

@media (max-width: 800px) {

    .swiper-slide-active .descriptionContainer {
        max-width: 50%;
        font-size: 10px;
        font-size: 10px;
    }

    .swiper-slide-active .number {
        font-size: 25px;
    }
}

@media (max-width: 700px) {

    .swiper-slide-active .descriptionContainer {
        max-width: 50%;
        font-size: 7px;
        font-size: 7px;
    }

    .swiper-slide-active .number {
        font-size: 20px;
    }
}

/*Pagination-Container*/

@media (max-width: 1650px) {
    .paginationContainer {
        right: 17.5vw;
        bottom: 0.3vw;
    }   
}

@media (max-width: 1400px) {
    .paginationContainer {
        right: 16vw;
        bottom: 0vw;
    }
}

@media (max-width: 1200px) {
    .paginationContainer {
        right: 15vw;
        bottom: 0vw;

    }

    .line {
        width: 80px;
        margin-left: -12px;
    }

    .pause-button {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .paginationContainer {
        right: 10vw;
        bottom: 0vw;
    }

    .pause-button {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .paginationContainer {
        right: 8vw;
    }

    .line {
        width: 80px;
        height: 1px;
        margin-left: -20px;
    }

    .pause-button {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }

    .swiper-pagination-bullet-active::before {
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    .paginationContainer {
        right: 6vw;
    }

    .line {
        width: 60px;
        height: 1px;
        margin-left: -13px;
    }

    .pause-button {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }

    .swiper-pagination-bullet-active::before {
        font-size: 10px;
    }
}



/*pagination pause button*/

